@model IEnumerable<SKLEP.Models.ViewModels.Strony.KategorieVM>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>
<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj nową kategorię</a><!-- tutaj ajax wywoluje nowa kaegorie :)-->
        <span class="ajax-text">
            <!-- pokazuje ajaksowe zdjecie , czasem tekst-->
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>
@if (!Model.Any())
{
    <h1 class="text-center">Nie dodano jeszcze żadnych kategorii</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <!-- czyli brak sortowania-->
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div> <!-- kazy tr bedzie mial klase ajaxdivtd:) domyslnie przypisana  petli-->
                    @Html.EditorFor(modelItem => item.Nazwa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "UsuwanieKategori", new { id = item.Id }, new { @class = "usun" })
                </td>
            </tr>
        }

    </table>
}
@section Scripts {
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {
            
         /* *Dodaj nowa kategorie */
           

            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            newCatTextInput.keyup(function (e) {//kiedy zostanie klikniety , a raczej puszczony
                if (e.keyCode == 13) { // przycisk o numerze enter
                    newCatA.click(); // wywolaj zdarzenie zwiazane z dodaniem noej kategori
                }
            });

            newCatA.click(function (e) {
                e.preventDefault(); //zapobiega wykonaniu sie zdarzeniu

                var catName = newCatTextInput.val(); // wartosc tekstu

                if (catName.length < 2) {
                    alert("Kategoria musi miec przynajmniej 2 znaki.");
                    return false;
                }

                ajaxText.show(); // pokaz ajaksowy image :))))

                var url = "/admin/Sklepowy/DodajNowaKategorie"; //zwraca String :) ktory mowi titlee taken lub id nowej kategori ktora tez jest stringiem

                $.post(url, { catName: catName }, function (data) { //ajax call . Parsuje obiekt catName  z wartoscia catname  ktory posiada funkcje przekazujaca dane

                    var response = data.trim();//dla pewnosci skracam stringa 

                    if (response == "titletaken") { // jesli tytuł zostal juz wybrany
                        ajaxText.html("<span class='alert alert-danger'>Ten tytul został juz wybrany</span>");
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                            });
                        }, 2000);
                        return false;
                    } else {
                        if (!$("table#pages").length) { // jesli nie istnieje
                            location.reload(); //reload zawartosci strony
                        } else {

                            ajaxText.html("<span class='alert alert-success'>Kategoria zostala dodana!");
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                });
                            }, 2000);

                            newCatTextInput.val("");//czysci zawartosci tekstboksa

                            var toAppend = $("table#pages tbody tr:last").clone();//kopiuje ostatni tiar z listy kategorii na stronie
                            toAppend.attr("id", "id_" + data);// id nowo dodanej kategorii ) konkatanacja
                            toAppend.find("#item_Nazwa").val(catName);//zmieniam wartosc item_NazwaKategorii na catName
                            toAppend.find("a.usun").attr("href", "/admin/Sklepowy/UsuwanieKategori/" + data);//zmieniam delete link . Zmieniam jakie a href ktory wskazuje teraz na
                            table.append(toAppend);
                            table.sortable("refresh");//refresh
                        }
                    }

                });
            });

            //////////////////////////////////////////////////////////////

            /*
            * Reorder kategorii
            */

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Sklepowy/ReorderKategorie";

                    $.post(url, ids, function (data) {
                    });
                }
            });

            //////////////////////////////////////////////////////////////


            /*
            * Potwierdz usuniecie kategorii. Dodaje dynamicznie <tr> wiec tutaj kod trzeba bylo zmienic . Jest okej tera
            */

            $("body").on("click", "a.usun", function () {
                if (!confirm("Potwierdz usuniecie strony")) return false;
            });

            //////////////////////////////////////////////////////////////

            /*
            * Zmien nazwe kategorii
            */

            var wartoscTekstBoksa;

            $("table#pages input.text-box").dblclick(function () {
                wartoscTekstBoksa = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur(); //po wcisnieciu enter tzn opuszczeniu klawisza
                }
            });

            /*
       * Rename category
       */

            var originalTextBoxValue;

            $("table#pages input.text-box").dblclick(function () {
                originalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {

                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/Admin/Sklepowy/ZmianaNazwyKategori";

                if (newCatName.length < 2) {
                    alert("Nazwa kategorii musi miec conajmniej 2 znaki.");
                    $this.attr("readonly", true);
                    return false;
                }

                $.post(url, { newCatName: newCatName, id: id }, function (data) {
                    var response = data.trim();

                    if (response == "titletaken") {
                        $this.val(originalTextBoxValue);
                        ajaxdiv.html("<span class='alert alert-danger'>Ten tytul zostal juz wybrany!</span>").show();
                    } else {
                        ajaxdiv.html("<span class='alert alert-success'>Nazwa kategorii zostala wybrana!</span>").show();
                    }
                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 2000);
                }).done(function () {
                    $this.attr("readonly", true);
                });

            });
        });

    </script>

}
