@model IEnumerable<SKLEP.Models.ViewModels.Strony.StronaVM>

@{
    string tempPageTitle = (string)TempData["PageTitle"];
}

@foreach (var item in Model)
{
    if (tempPageTitle == item.Tytuł)
    {
        <li class="active"><a href="/@item.Slug">@item.Tytuł</a></li>
    }
    else
    {
        <li><a href="/@item.Slug">@item.Tytuł</a></li>
    }
}
