@model IEnumerable<SKLEP.Models.ViewModels.Koszyk.KoszykVM>
@{
    int count = 1;
}

<form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="szkolnymajl-facilitator@gmail.com">

    @foreach (var item in Model)
    {
        <input type="hidden" name="item_name_@count" value="@item.ProduktNazwa">
        <input type="hidden" name="amount_@count" value="@item.Cena">
        <input type="hidden" name="quantity_@count" value="@item.Ilosc">
        count++;
    }

    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>

<!--https://mailtrap.io/inboxes/527813/messages/1102303420-->